/************
* Variáveis *
*************/
@import '../../style/variables/layoutColors.scss';

/*********
* Mixins *
**********/
@import '../../style/mixins/breakpoints.scss';

/******
* CSS *
*******/

.main {
  background-color: $LIGHT-BG-Default_02;
  width: 100%;
  padding: 15px;
  border: solid 1px $LIGHT-BD-Main_01;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  margin-top: 10px;
  
  &.dark--theme {
    background-color: $DARK-BG-Main_01;
    border: solid 1px transparent;
  }
}
